<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Python Chess Project</title>
    <%- partial('head') %>
  </head>
<body>
  <%- partial('navbar') %>
    <!-- MAIN PAGE CONTENT -->
    <div id="main-content">

      <!-- PROJECT HEADER -->
      <div id="project-header">
        <div>
          <a class="button" href="index.html#my-work-section-anchor">
            <image src="./assets/icons/arrow-right.svg" class="left-arrow-icon"/>
            <span class="button-text">Back to Portfolio</span> 
          </a>
        </div>
        <div class="main-title">A Game of Chess</div>
        <div class="body-text">Created a chess game in Python using Pygame to display the board and move pieces, and created a basic bot to play against.</div>
        <image class="project-header-image" src="./assets/images/chess_code.png">
      </div>

      <!-- PROJECT DETAILS -->
      <!-- 
        TODO

        - Change the 'subheader-text' to whatever header you want for project details
        - Add paragraphs using the <div class="body-text"></div> elements in the "project-details-content"
      -->
      <div id="project-details">
        <div class="subheader-text">Project Details / Background</div>
        <div class="project-details-content">
          <div class="body-text">I created a chess game from scratch. My main motivation for this game is a facination with chess logic, so I added an AI bot to play against. It uses a minimax approach to move searches, and does alpha-beta pruning to optimize searches. Only searches a depth of 2 by default, but can be changed to any reasonable depth given enough time.</div>
          <div class="body-text">I am working on creating a move-ordering optimization to the bot, which should allow the alpha-beta pruning to be more effective. It will try and check moves that have a high likelyhood of being good moves first, so that it can prune more branches faster. This should have a substantial impact on speed once completed, and may allow for more depth in the minimax search.</div>        
          <div class="body-text"><a class="text-link" href="https://github.com/IsaacPyle/Chess-Bot" target="_blank" rel="noreferrer noopener">View the source code on GitHub</a></div>
        
        </div>
      </div>

      <!-- IMAGE GALLERY -->
      <div id="project-gallery">
        <!-- TODO - Change the 'subheader-text' to whatever you want the Gallery section header to say -->
        <div class="subheader-text">Image Gallery</div>
        <div class="project-gallery-content">
            <!-- 
              TODO

              This is where the images in the gallery live. Here's a simple gallery image for you to copy:

              Full Width Image:

                <div class="gallery-image-container">
                  <img src="../assets/images/IMAGE_NAME" class="gallery-image">
                  <span class="image-caption">IMAGE_CAPTION</span>
                </div>

              Half Width Image: 

                <div class="gallery-image-container half-width">
                  <img src="../assets/images/IMAGE_NAME" class="gallery-image">
                  <span class="image-caption">IMAGE_CAPTION</span>
                </div>

              - To add an image to the this area, copy one of the above, paste it below this comment, and change the following:
                  - IMAGE_NAME: the name of the image file in assets/images
                  - IMAGE_CAPTION: to the caption of the image
            -->
            <!-- <div class="gallery-image-container half-width">
              <img src="./assets/images/code.jpeg" class="gallery-image">
              <span class="image-caption">Give your image a caption. People love context.</span>
            </div>
            <div class="gallery-image-container half-width">
              <img src="./assets/images/sketchbook.jpeg" class="gallery-image">
              <span class="image-caption">Give your image a caption. People love context.</span>
            </div>
            <div class="gallery-image-container">
              <img src="./assets/images/camera.jpeg" class="gallery-image">
              <span class="image-caption">Give your image a caption. People love context.</span>
            </div> -->
        </div>
      </div>
    </div>
    <%- partial('footer') %>
  </body>
</html>
