    <div id="footer">
        <a class="icon-link" target="_blank" rel="noreferrer noopener" href="https://www.linkedin.com/in/isaacpyle">
        <image src="./assets/icons/linkedin.svg" class="footer-icon"/>
        </a>
        <a class="icon-link" target="_blank" rel="noreferrer noopener" href="https://github.com/IsaacPyle/">
        <image src="./assets/icons/github.svg" class="footer-icon"/>
        </a>
        <a class="icon-link" href="mailto:isaac.a.pyle@gmail.com">
        <image src="./assets/icons/mail.svg" class="footer-icon"/>
        </a>
    </div>