<!-- NAVBAR -->
<div class="navbar">
    <a class="nav-title-link" href="index.html">
        <span class="nav-title">Isaac's Portfolio.</span>
        <div class="dropdown" id="dropdown-div">
            <a class="dropbtn button" id="dropdown" onclick="responsive()">Contact Me 
              <i class="fa fa-caret-down"></i>
            </a>
            <a href="javascript:void(0);" class="dropdown-icon" onclick="responsive()">&#9776;</a>
            <div class="dropdown-content" id="dropdown-content">
              <a target="_blank" rel="noreferrer noopener" href="https://linkedin.com/in/isaacpyle">LinkedIn</a>
              <a href="mailto:isaac.a.pyle@gmail.com">Email</a>
              <a target="_blank" rel="noreferrer noopener" href="https://github.com/isaacpyle">GitHub</a>
            </div>
          </div> 
        </a>
        <!-- <a class="button change">
        <span class="button-text">Dark Mode</span>
        </a> -->
    </a>
    </div>