<!-- NAVBAR -->
<div class="navbar">
    <a class="nav-title-link" href="index.html">
        <span class="nav-title">Isaac's Portfolio.</span>
        <a class="button" id="email-button" href="mailto:isaac.a.pyle@gmail.com">
        <span class="button-text">Email Me!</span>
        </a>
        <!-- <a class="button change">
        <span class="button-text">Dark Mode</span>
        </a> -->
    </a>
    </div>